@charset "utf-8";

#modal {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #222;
  padding: 5rem;
  opacity: 0;
  visibility: hidden;
  z-index: 20;
  display: flex;
  gap: 5rem;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* align-items: flex-start; */
  /* overflow-y: auto; */
  /* scroll-behavior: smooth; */
  transition: all 1s;
}
#modal .text::-webkit-scrollbar {
  display: block;
  width: 12px;
}
#modal .text::-webkit-scrollbar-track {
  background: #333;
}
#modal .text::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 6px;
}
#modal .text::-webkit-scrollbar-thumb:hover {
  background: #888;
}
#modal.active {
  left: 0;
  opacity: 1;
  visibility: visible;
}
#modal .content {
  position: relative;
  /* width: calc(100% - 10rem); */
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#modal .content img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#modal .text {
  position: relative;
  padding: 0 1.6rem;
  /* width: calc(100% - 10rem); */
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  overflow-y: auto;
  scroll-behavior: smooth;
}
#modal .text .title {
  font-size: 3vw;
  color: #fff;
  margin-bottom: 3rem;
}
#modal .text .desc {
  font-size: 1.6rem;
  color: #777;
  margin-bottom: 5rem;
}
#modal .text .close-btn {
  cursor: pointer;
  color: aqua;
  font-size: 1.6rem;
  text-align: center;
}

/* marked.js로 마크다운을 html로 변환한 후 스타일  */
#modal .text .desc h1 {
  font-size: 2.5rem;
  color: #999;
  margin-bottom: 1rem;
}
#modal .text .desc h2 {
  font-size: 2rem;
  color: #999;
  margin-bottom: 1rem;
}
#modal .text .desc h3 {
  font-size: 1.8rem;
  color: #999;
  margin-bottom: 1rem;
}
#modal .text .desc p {
  font-size: 1.6rem;
  color: #999;
  margin-bottom: 1rem;
}
#modal .text .desc ul {
  font-size: 1.6rem;
  color: #999;
  margin-bottom: 1rem;
  list-style: disc;
  padding-left: 2rem;
  margin-left: 1rem;
}
#modal .text .desc ul li {
  color: #999;
  list-style: disc;
  display: list-item;
  margin-bottom: 0.5rem;
}
#modal .text .desc pre {
  font-size: 1.6rem;
  color: #999;
  margin-bottom: 1rem;
  background-color: #333;
  padding: 1rem;
  border-radius: 0.5rem;
}
/* modal fixed button wrap */
.modal-fixed-btn-wrap {
  position: fixed;
  bottom: 30px;
  right: 40px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 40;
}
/* to home button */
.modal-fixed-btn-wrap .to-home-btn {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.8;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* visibility: hidden; */
  transition: all 0.2s ease-in-out;
}
.modal-fixed-btn-wrap .to-home-btn img {
  width: 30px;
  object-fit: contain;
  transition: all 0.2s ease-in-out;
}
.modal-fixed-btn-wrap .to-home-btn:hover {
  transform: scale(1.1);
  opacity: 1;
}
.modal-fixed-btn-wrap .to-home-btn:hover img {
  transform: scale(1.1);
}
/* go top button */
.modal-fixed-btn-wrap .go-top-btn {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.8;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}
.modal-fixed-btn-wrap .go-top-btn img {
  width: 30px;
  object-fit: contain;
  /* transition: all 0.2s ease-in-out; */
}
.modal-fixed-btn-wrap .go-top-btn:hover {
  transform: scale(1.1);
  opacity: 1;
}
.modal-fixed-btn-wrap .go-top-btn:hover img {
  transform: scale(1.1);
}

@media screen and (max-width: 1600px) {
  #modal {
    flex-direction: column;
    align-items: center;
  }
  #modal .content {
    height: 300px;
    flex: 0;
  }
  #modal .text {
    /* justify-content: flex-start; */
  }
}
